In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [8]:
# your code here
first_five_rows = df.head(5)

print(first_five_rows)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [9]:
# your code here
last_five_rows = df.tail(5)

print(last_five_rows)

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [12]:
unique_methods_count = df['method'].nunique()


print("Number of unique methods:", unique_methods_count)

Number of unique methods: 10

### What is the number of data collected in each year?

In [11]:
# your code here
data_per_year = df.groupby('year').size().reset_index(name='count')

# Display the result
print(data_per_year)

    year  count
0   1989      1
1   1992      2
2   1994      1
3   1995      1
4   1996      6
5   1997      1
6   1998      5
7   1999     15
8   2000     16
9   2001     12
10  2002     32
11  2003     25
12  2004     26
13  2005     39
14  2006     31
15  2007     53
16  2008     74
17  2009     98
18  2010    102
19  2011    185
20  2012    140
21  2013    118
22  2014     52

### Which columns have missing values and how many?

In [10]:
# your code here
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB
None

### Write docstring for the function below.

In [13]:
def do_something(x, y, z):
    """
    abc
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [14]:
help(do_something);

Help on function do_something in module __main__:

do_something(x, y, z)
    abc

### Call do_something function for the (11,13,15) values and save it as result

In [21]:
result = do_something(11,13,15);
print(result);

4.26441351888668

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [53]:
s = "I love Machine Learning and Deep Learning"
result = int(result);
# print(result);
word = s.split();
ab = word[result];
print(ab);

# use int() to convert the result to integer
# your code here

and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [54]:
import random

arr = [random.randint(1, 100) for i in range(10)]

for n in range(len(arr)-1, 0, -1):
        for i in range(n):
            if arr[i] > arr[i + 1]:
                arr[i], arr[i + 1] = arr[i + 1], arr[i] 

print(arr)

[3, 16, 19, 28, 44, 48, 55, 61, 69, 87]

### define a recursive function to calculate input numbers factorial named factorial

In [3]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(4)) #4 yerine yazılan sayının faktöriyelini alır

24

### define a function to merge the given arrays and calculate the median named twoMedian

In [57]:
# your code here
def twoMedian(array1, array2):
    merged_array = sorted(array1 + array2)
    
    length = len(merged_array)

    if length % 2 == 0: # çift eleman sayısı varsa 
        middle_left = merged_array[length // 2 - 1]
        middle_right = merged_array[length // 2]
        median = (middle_left + middle_right) / 2
    else: #tek eleman sayısı varsa
        median = merged_array[length // 2]

    return median

# örnek:
#array1 = [1, 9, 5]
#array2 = [7, 4, 0]
#result = twoMedian(array1, array2)
#print("Merged Array:", sorted(array1 + array2))
#print("Median:", result)